{{template "header"}}
<title>分类</title>
<style>
	.active a{
		color: red;
	}
</style>
</head>
<body>
<body>
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			{{template "navbar" .}}
		</div>
		<div class="container">
			<h1>分类列表</h1>
			<form method="GET" action="/category">
				<div class="form-group">
					<label>分类名称</label>
					<input id="name" name="name" class="form-control"  placeholder="请输入分类名" value="GO">
				</div>
				<input type="hidden" name="op" value="add">
				<button type="submit" class="btn btn-default" onClick="return checkInput();">添加</button>
			</form>
			<script type="text/javascript">
				function checkInput(){
					var name = document.querySelector("#name")
					if(!name.value.length){
						alert('请输入用户名')
						return false
					}
					return true
				}
			</script>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>#</th>
						<th>名称</th>
						<th>文章数</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					{{range .Categories}}
						<tr>
							<td>{{.Id}}</td>
							<td>{{.Title}}</td>
							<td>{{.TopicCount}}</td>
							<td>
								<a href="/category?op=del&id={{.Id}}">删除</a>
							</td>
						</tr>
					{{end}}
				</tbody>
			</table>
		</div>
	</div>
</body>
</body>
</html>
