{{template "header"}}
	<title>首页</title>
	<style>
		.active a{
			color: red;
		}
	</style>
</head>
<body>
	<body>
		<div class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				{{template "navbar" .}}
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-9">
						{{range .Topics}}
							<div class="page-header">
								<h1><a href="/topic/view/{{.Id}}">{{.Title}}</a></h1>
								<h6 class="text-muted">文章发表于{{.Created}},共有{{.Views}}次浏览，{{.ReplyCount}}个评价</h6>
								<p>
								{{.Content}}
								</p>
							</div>
						{{end}}
					</div>
					<div class="col-md-3">
						<h3>文章分类</h3>
						<ul>
							{{range .Categories}}
								<li><a href="/?cate={{.Title}}">{{.Title}}</a></li>
							{{end}}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</body>
</body>
</html>
