{{template "header"}}
	<title>登录</title>
</head>
<body>
	<div class="container" style="width: 500px;">
		<form method="POST" action="/login">
			<div class="form-group">
				<label>用户名</label>
				<input id="username" name="username" class="form-control"  placeholder="请输入用户名" value="admin">
			</div>
			<div class="form-group">
				<label>密码</label>
				<input id="password" name="password" class="form-control" placeholder="请输入密码" value="123">
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" name="autoLogin" >记住密码
				</label>
			</div>
			<button type="submit" class="btn btn-default" onClick="return checkInput();">登录</button>
			<button class="btn btn-default" onClick="return backHome();">返回</button>
		</form>
		<script type="text/javascript">
			function checkInput(){
				var username = document.querySelector("#username")
				var password = document.querySelector("#password")

				if(!username.value.length){
					alert('请输入用户名')
					return false
				}
				if(!password.value.length){
					alert('请输入密码')
					return false
				}
				return true
			}

			function backHome(){
				window.location.href = "/";
				return false;
			}
		</script>
	</div>
</body>
</html>
