{{template "header"}}
<title>添加文章</title>
<style>
	.active a{
		color: red;
	}
</style>
</head>
<body>
<body>
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			{{template "navbar" .}}
		</div>
		<div class="container">
			<h1>添加文章</h1>
			 <form method="post" action="/topic" enctype="multipart/form-data">
				<div class="form-group">
					<label for="">文章标题：</label>
					<input type="text" name="title" class="form-control">
				</div>
				 <div class="form-group">
					 <label for="">文章分类：</label>
					 <input type="text" name="category" class="form-control">
				 </div>
				 <div class="form-group">
					 <label for="">文章标签：</label>
					 <input type="text" name="label" class="form-control">
				 </div>
				<div class="form-group">
					<label for="">文章内容：</label>
					<textarea name="content" class="form-control" id="" cols="30" rows="10"></textarea>
				</div>
				 <div class="form-group">
					 <label for="">文章附件：</label>
					 <input type="file" name="attachment" class="form-control">
				 </div>
				<button type="submit" class="btn btn-default">添加文章</button>
			</form>
		</div>
	</div>
</body>
</body>
</html>
