{{template "header"}}
<title>分类</title>
<style>
	.active a{
		color: red;
	}
</style>
</head>
<body>
<body>
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			{{template "navbar" .}}
		</div>
		<div class="container">
			<h1>分类列表</h1>
			<a href="/topic/add" class="btn btn-default">添加文章</a>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>#</th>
						<th>文章名称</th>
						<th>最后更新</th>
						<th>浏览</th>
						<th>回复数</th>
						<th>最后回复</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					{{range .Topics}}
						<tr>
							<td>{{.Id}}</td>
							<td>{{.Title}}</td>
							<td>{{.Updated}}</td>
							<td>{{.Views}}</td>
							<td>{{.ReplyCount}}</td>
							<td>{{.ReplyTime}}</td>
							<td>
								<a href="/topic/modify?tid={{.Id}}">修改</a>
								<a href="/topic/delete?tid={{.Id}}">删除</a>
							</td>
						</tr>
					{{end}}
				</tbody>
			</table>
		</div>
	</div>
</body>
</body>
</html>
