{{template "header"}}
<title>{{.Topic.Title}}</title>
</head>
<body>
<body>
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			{{template "navbar" .}}
		</div>
		<div class="container">
			{{$labels := .Labels}}
			{{with .Topic}}
				<h1>{{.Title}}</h1><small>{{.Category}}</small>
				<h5>
					{{range $labels}}
						<a href="/?label={{.}}">{{.}}</a>
					{{end}}
				</h5>
				{{.Content}}
				<h5>文件附件： <a href="/attachment/{{.Attachment}}">{{.Attachment}}</a></h5>
			{{end}}
			
		</div>
		<div class="container">
			{{$tid := .Topic.Id}}
			{{$isLogin := .IsLogin}}
			{{range .Replies}}
				<h3>
					{{.Name}} <small>{{.Created}}</small>
					{{if $isLogin}}<a href="/reply/delete?tid={{$tid}}&rid={{.Id}}">删除</a>{{end}}
				</h3>
				{{.Content}}
			{{end}}
			<h3>本文回复</h3>
			<form method="post" action="/reply/add">
				<input type="hidden" name="tid" value={{.Topic.Id}}>
				<div class="form-group">
					<label for="">显示昵称</label>
					<input type="text" class="form-control" name="nickname">
				</div>
				<div class="form-group">
					<label for="">内容</label>
					<textarea name="content" class="form-control" id="" cols="30" rows="10"></textarea>
				</div>
				<button type="submit" class="btn btn-default">提交回复</button>
			</form>
		</div>
	</div>
</body>
</body>
</html>
